Repository ACLPManager/manager, pull requests merged in 2025-06, with the labels that each got.

#326 upcoming: [DI-25149] - Removing tags filter for linode flow
  packages/manager/cypress/e2e/core/cloudpulse/create-alert-linode.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-linode-alert.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesFilterRenderer.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
Labels: CloudPulse-Alerting

#335 Delete alert definition
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: CloudPulse-Alerting

#342 upcoming: [DI-25353] - Alerting time interval values based on /services call
  packages/manager/src/factories/cloudpulse/services.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: CloudPulse-Alerting

#348 upcoming: [DI-25353] - Changing the convert util
  packages/manager/cypress/e2e/core/cloudpulse/create-linode-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
Labels: CloudPulse-Alerting

#345 Added beta markers to service types which are in ACLP Beta
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/factories/cloudpulse/services.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailOverview.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/ServiceTypeSelect.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardLanding.test.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardRenderer.tsx
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardSelect.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/AdditionalOptions.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/Alerts/Alerts.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeAlerts/LinodeAlerts.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeMetrics/LinodeMetrics.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsAlertsPanel.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailNavigation.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Ready for Review, CloudPulse-Dashboards

#350 upcoming: [DI-25709] - Fixed the UI bugs in Metric and Trigger Conditions components
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
Labels: CloudPulse-Alerting

#349 change: [DI-25623] - Replace DateTimeRangePicker in CloudPulseDateTimeRange picker with new component
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/cypress/e2e/core/cloudpulse/contextual-dbaas-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-updatewidgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-widgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/timerange-verification.spec.ts
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardLanding.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardWithFilters.test.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardWithFilters.tsx
  packages/manager/src/features/CloudPulse/Overview/GlobalFilters.test.tsx
  packages/manager/src/features/CloudPulse/Overview/GlobalFilters.tsx
  packages/manager/src/features/CloudPulse/Utils/CloudPulseDateTimePickerUtils.ts
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.test.ts
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseComponentRenderer.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseDateTimeRangePicker.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseMonitor/DatabaseMonitor.test.tsx
  packages/ui/src/components/DatePicker/DateRangePicker/DateRangePicker.test.tsx
  packages/ui/src/components/DatePicker/DateRangePicker/Presets.tsx
  packages/ui/src/components/DatePicker/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/ui/src/components/DatePicker/TimeZoneSelect.tsx
Labels: Ready for Review

#356 upcoming:[DI-25347] - Add nodebalancer filters
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/CloudPulse/Widget/components/CloudPulseAggregateFunction.test.tsx
  packages/manager/src/features/CloudPulse/Widget/components/CloudPulseAggregateFunction.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseCustomSelect.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseCustomSelect.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseCustomSelectUtils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/queries.ts
Labels: CloudPulse-Dashboards

#361 [DI-25346] - Update port filter logic for consistency
  packages/manager/src/features/CloudPulse/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.tsx
Labels: CloudPulse-Dashboards
