Repository ACLPManager/manager, pull requests merged in 2025-03, with the labels that each got.

#220 upcoming: [DI-23781] - Error handling while enabling/disabling alerts
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
Labels: CloudPulse-Alerting

#221 test[DI-23807]-mega menu changes for cypress
  packages/manager/cypress/e2e/core/cloudpulse/alert-contextual-view-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/alert-show-details.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/alerts-listing-page.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-applied-filters.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-dashboard-errors.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-navigation.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-region-support.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-resource-limit.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-widgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-system-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-tag-filter-validation.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/timerange-verification.spec.ts
Labels: Additional Approval Required

#222 upcoming: [DI-23788] - Changes for resource selection limitation phase 1
  packages/manager/cypress/e2e/core/cloudpulse/edit-system-alert.spec.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesNotice.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Resources/CloudPulseModifyAlertResources.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Resources/CloudPulseModifyAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsNoticeMessage.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
Labels: Ready for Review, CloudPulse-Alerting

#223 upcoming: [DI-23773] - Added the tooltip icon in disabled state to the add buttons for metric, dimension filter, notification channel limits
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilter.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/MetricCriteria.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddChannelListing.tsx
Labels: CloudPulse-Alerting

#228 upcoming: [DI-23784] - Restrict actions in alerts action menu
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: CloudPulse-Alerting

#234 test: [DI - 23784] - Fix data-qa-ids and improve alert contextual view verification
  packages/manager/cypress/e2e/core/cloudpulse/alert-contextual-view-verification.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.tsx
Labels: CloudPulse-Alerting

#237 change: [DI-24111] - Added color on hover of icons
  packages/manager/src/features/CloudPulse/Overview/GlobalFilters.tsx
  packages/manager/src/features/CloudPulse/Widget/components/Zoomer.tsx
Labels: CloudPulse-Dashboards

#238 upcoming:[DI-24187] - Update success message while editing alerts
  packages/manager/cypress/e2e/core/cloudpulse/alerts-listing-page.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: CloudPulse-Alerting

#239 upcoming: [DI-23769] - Enhanced existing component to remove redundancy
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertListNoticeMessages.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertListNoticeMessages.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsNoticeMessage.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: Additional Approval Required, CloudPulse-Alerting

#242 refactor: [DI-24193] - Update query cache on api success
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: CloudPulse-Alerting

#243 Resource selection limitation - Phase 2
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesNotice.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/DisplayAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Resources/CloudPulseModifyAlertResources.test.tsx
Labels: Ready for Review, Additional Approval Required, CloudPulse-Alerting
