Repository ACLPManager/manager, pull requests merged in 2025-09, with the labels that each got.

#450 test[DI-26868 ]: Test that the message displays correctly when no reg…
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-region-support.spec.ts
Labels: CloudPulse-Dashboards

#451 fix: [DI-26718] - change aggregation function label
  packages/manager/cypress/e2e/core/cloudpulse/create-firewall-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-linode-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-nodebalancer-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
  packages/manager/cypress/support/constants/alert.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: CloudPulse-Alerting

#439 upcoming: [DI-26678] - Firewall dimension filters customisation for Alerts
  packages/manager/cypress/e2e/core/cloudpulse/create-firewall-alert.spec.ts
  packages/manager/src/factories/cloudpulse/alerts.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/RenderAlertsMetricsAndDimensions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/DimensionFilterAutocomplete.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/DimensionFilterAutocomplete.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/ValueFieldRenderer.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/ValueSchemas.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/useFetchOptions.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.tsx
  packages/manager/src/features/CloudPulse/shared/DimensionTransform.ts
  packages/manager/src/features/CloudPulse/shared/types.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: Additional Approval Required, CloudPulse-Alerting

#452 fix: [DI-26792] - Alerting UI inconsistencies
  packages/manager/cypress/e2e/core/cloudpulse/alert-show-details.spec.ts
  packages/manager/cypress/support/constants/alert.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannelDrawer.tsx
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/validation/src/cloudpulse.schema.ts
Labels: CloudPulse-Alerting

#444 upcoming: [DI-22916] - Added group by filter for metrics global filters
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/assets/icons/group-by.svg
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboard.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardLanding.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardRenderer.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardWithFilters.tsx
  packages/manager/src/features/CloudPulse/GroupBy/CloudPulseGroupByDrawer.test.tsx
  packages/manager/src/features/CloudPulse/GroupBy/CloudPulseGroupByDrawer.tsx
  packages/manager/src/features/CloudPulse/GroupBy/GlobalGroupByRenderer.test.tsx
  packages/manager/src/features/CloudPulse/GroupBy/GlobalGroupByRenderer.tsx
  packages/manager/src/features/CloudPulse/GroupBy/WidgetGroupByRenderer.test.tsx
  packages/manager/src/features/CloudPulse/GroupBy/WidgetGroupByRenderer.tsx
  packages/manager/src/features/CloudPulse/GroupBy/constants.ts
  packages/manager/src/features/CloudPulse/GroupBy/useGroupByDimension.ts
  packages/manager/src/features/CloudPulse/Overview/GlobalFilters.test.tsx
  packages/manager/src/features/CloudPulse/Overview/GlobalFilters.tsx
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.ts
  packages/manager/src/features/CloudPulse/Utils/ReusableDashboardFilterUtils.test.ts
  packages/manager/src/features/CloudPulse/Utils/ReusableDashboardFilterUtils.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.test.tsx
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidgetRenderer.tsx
  packages/manager/src/features/CloudPulse/Widget/components/Zoomer.tsx
Labels: Ready for Review

#483 fix: [DI-27529] - Update linode region pref on firewall change
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.tsx
Labels: CloudPulse-Dashboards

#484 [DI-27359] - Handle volumes integration in metrics
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardWithFilters.test.tsx
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.test.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/queries.ts
  packages/utilities/src/__data__/regionsData.ts
Labels: CloudPulse-Dashboards, Testing-pending
