Repository ACLPManager/manager, pull requests merged in 2025-02, with the labels that each got.

#176 Adding engine option filter in the resources, Dynamically build filters and table rows based on config
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsEngineTypeFilter.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsEngineTypeFilter.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesAdditionalFilters.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesAdditionalFilters.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/DisplayAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Resources/CloudPulseModifyAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseResourcesSelect.tsx
  packages/manager/src/queries/cloudpulse/resources.ts
Labels: Additional Approval Required

#179 upcoming: [DI-23226] - Columns span fix
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/DisplayAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
Labels: Don't Merge

#185 Pass implicit filter type dedicated / shared on Resources fetch based on Alert Details Response
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/factories/cloudpulse/alerts.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertResources.tsx
Labels: Additional Approval Required

#186 upcoming: [DI-23226] - Dynamic filter logic updates
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsEngineTypeFilter.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesAdditionalFilters.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesAdditionalFilters.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesFilterRenderer.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesFilterRenderer.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/types.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.ts
Labels: Ready for Review

#188 DI-23334:Validation and E2E Cypress automation for ACLP Metrics UI - …
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-applied-filters.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-dashboard-errors.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/contextual-dbaas-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-widgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/timerange-verification.spec.ts
  packages/manager/cypress/support/constants/date-utils.ts
Labels: Additional Approval Required

#187 upcoming: [DI-23310] - Handle enable/disable action item for user alerts
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertActionMenu.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertsListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: CloudPulse-Alerting

#182 Added alerts for contextual view
  packages/api-v4/src/cloudpulse/alerts.ts
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionRow.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertsReusableComponent.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/Databases/DatabaseDetail/index.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/alerts.ts
  packages/manager/src/queries/cloudpulse/queries.ts
  packages/manager/src/queries/cloudpulse/requests.ts
Labels: Ready for Review, CloudPulse-Alerting

#202 upcoming: [DI-23342] - Error message validation for Create/Edit flow
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddChannelListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannelDrawer.tsx
  packages/validation/src/cloudpulse.schema.ts
Labels: CloudPulse-Alerting

#206 upcoming: [DI-23235] - Alerting UI bug fixes
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannelDrawer.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/validation/src/cloudpulse.schema.ts
Labels: CloudPulse-Alerting

#211 Updated icon color to black from grey
  packages/api-v4/src/cloudpulse/services.ts
  packages/manager/src/features/CloudPulse/Overview/GlobalFilters.tsx
  packages/manager/src/features/CloudPulse/Widget/components/Zoomer.tsx
Labels: CloudPulse-Dashboards

#215 Alerting UI test fix
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
Labels: CloudPulse-Alerting

#219 upcoming: [DI-23521] - Added the limits for metric, dimensions, notification channels with test cases
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilter.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilter.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/MetricCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/MetricCriteria.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddChannelListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddChannelListing.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CloudPulse-Alerting
