Repository ACLPManager/manager, pull requests merged in 2025-05, with the labels that each got.

#299 upcoming: [DI-24900] - Added entity level grouping drop down and regions table
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/AlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/DisplayAlertRegions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/DisplayAlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/AlertEntityGroupingSelect.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/AlertEntityGroupingSelect.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Regions/CloudPulseModifyAlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/types.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/utilities.ts
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: CloudPulse-Alerting

#302 test: fixing time zone issues in specs
  packages/manager/cypress/e2e/core/cloudpulse/create-alert-linode.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-linode-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-updatewidgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/timerange-verification.spec.ts
Labels: CloudPulse-Dashboards

#303 upcoming:[DI-24898] - Add view control for cloudpulse filters
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Utils/ReusableDashboardFilterUtils.ts
  packages/manager/src/features/CloudPulse/Utils/models.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseComponentRenderer.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
Labels: CloudPulse-Dashboards

#305 upcoming: [DI-24826] - Increased width of text field component in create alert page
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/InputValueField.tsx
Labels: CloudPulse-Alerting

#304 upcoming: [DI-24902] - Fetch Alerting Time Period Options from LD flag
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: CloudPulse-Alerting

#310 test[DI-24904]:Polling interval, Evaluation period multiple values su…
  packages/manager/cypress/e2e/core/cloudpulse/create-alert-linode.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-linode-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
Labels: CloudPulse-Alerting

#308 Changes for compute onboarding as per the template
  packages/manager/cypress/e2e/core/cloudpulse/linode-tag-filter-validation.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-widget-verification.spec.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.test.tsx
Labels: CloudPulse-Dashboards

#311 Fix:[DI-25092] - Zoom tooltip show/no-show
  packages/manager/src/features/CloudPulse/Widget/components/Zoomer.tsx
Labels: CloudPulse-Dashboards

#316 upcoming: [DI-24902] - Reverting back LD flag changes for alerting time options
  packages/manager/cypress/e2e/core/cloudpulse/create-alert-linode.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-linode-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
Labels: CloudPulse-Alerting

#317 Create alert grouping
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/factories/cloudpulse/alerts.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/AlertRegions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/AlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/DisplayAlertRegions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/DisplayAlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/DisplayAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/AlertEntityGroupingSelect.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/AlertEntityGroupingSelect.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/ResourceMultiSelect.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Regions/CloudPulseModifyAlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Resources/CloudPulseModifyAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/types.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/utilities.ts
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertMaxSelectionText.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertMaxSelectionText.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertSelectedInfoNotice.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/validation/src/cloudpulse.schema.ts
Labels: Ready for Review, CloudPulse-Alerting

#321 upcoming :[DI-25151] - Supporting `in` operator and empty values in dimension filter values
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/cypress/support/constants/alert.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/validation/src/cloudpulse.schema.ts
Labels: CloudPulse-Alerting
