Repository ACLPManager/manager, pull requests merged in 2025-04, with the labels that each got.

#249 refactor: [DI-24413] - Bug fixes post cds update
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardLanding.tsx
  packages/manager/src/features/CloudPulse/Overview/GlobalFilters.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseAppliedFilter.tsx
Labels: CloudPulse-Dashboards

#250 refactor: [DI-24450] - Added logic to update the alert in cache when it is created
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: CloudPulse-Alerting

#253 upcoming:[DI-24445] - Remove or condition when empty
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
Labels: CloudPulse-Dashboards

#244 upcoming:[DI-24112] - Add grouping by tag for alerts
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertActionMenu.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertsTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/GroupedAlertsTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/GroupedAlertsTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
  packages/manager/src/features/CloudPulse/Utils/UserPreference.test.ts
  packages/manager/src/features/CloudPulse/Utils/UserPreference.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/utilities/src/helpers/groupByTags.ts
  packages/utilities/src/types/ManagerPreferences.ts
Labels: CloudPulse-Alerting

#257 upcoming: [DI-24451] - Added confirmation dialog for enable/disable action
  packages/manager/cypress/e2e/core/cloudpulse/alert-errors.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.tsx
Labels: CloudPulse-Alerting

#256 Rename resources to entities in labels and messages in alert section
  packages/manager/cypress/e2e/core/cloudpulse/alert-show-details.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/alerts-listing-page.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-alert-linode.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-linode-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-system-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertMaxSelectionText.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResourcesNotice.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Resources/CloudPulseModifyAlertResources.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Resources/CloudPulseModifyAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertLanding.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertLanding.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertResources.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertResources.tsx
  packages/manager/src/features/Databases/DatabaseDetail/index.tsx
Labels: CloudPulse-Alerting

#273 test: Add test for update and tooltip verification(changes only for aclp)
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-updatewidgets-verification.spec.ts
Labels: CloudPulse-Dashboards

#275 Pass dimension filters from UI in metrics calls using dashboards API widget filters
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/factories/dashboards.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CloudPulse-Dashboards

#276 Added last modified by & create data in alert list & details page
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailOverview.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
Labels: CloudPulse-Alerting

#266 upcoming: [DI-24110] - Limit of custom alerts per account
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertListNoticeMessages.tsx
Labels: CloudPulse-Alerting

#277 upcoming: [DI-24085] - Added failed info status message for alerts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
Labels: CloudPulse-Alerting

#283 upcoming: [DI-24743] - moved the alert tool tip text to the constants
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
Labels: CloudPulse-Alerting

#285 test[DI-24818]: Verify total count of custom alerts and associated metrics
  packages/manager/cypress/e2e/core/cloudpulse/alerts-listing-page.spec.ts
Labels: Additional Approval Required, CloudPulse-Alerting

#287 upcoming:[DI-24467] - Update group_by type in widgets
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-updatewidgets-verification.spec.ts
  packages/manager/src/factories/dashboards.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: CloudPulse-Dashboards

#290 upcoming: [DI-24750] - Capability to delete user alert
  packages/api-v4/src/cloudpulse/alerts.ts
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertActionMenu.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertsTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/GroupedAlertsTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/GroupedAlertsTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: CloudPulse-Alerting

#293 upcoming: [DI-24840] - Disabling create button while alert list is in loading state
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertsActionMenu.ts
Labels: Approved, CloudPulse-Alerting
