Repository ACLPManager/manager, pull requests merged in 2025-07, with the labels that each got.

#357 upcoming: [DI-25348] - Support for port filter
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: Approved, Ready for Review, CloudPulse-Alerting

#372 [DI-25391] - Add firewall filters
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseComponentRenderer.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseTextFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseTextFilter.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/queries.ts
Labels: CloudPulse-Dashboards

#374 upcoming: [DI-26140] - Added date change logic for selected timezone …
  packages/ui/src/components/DatePicker/DateRangePicker/Presets.tsx
  packages/ui/src/components/DatePicker/DateTimeRangePicker/DateTimeRangePicker.tsx
Labels: CloudPulse-Dashboards

#367 upcoming: [DI-25354] - Nodebalancer service Alert UI Integration
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/queries.ts
  packages/queries/src/nodebalancers/keys.ts
  packages/queries/src/nodebalancers/nodebalancers.ts
  packages/queries/src/nodebalancers/requests.ts
Labels: CloudPulse-Alerting

#368 upcoming: [DI-25392] - Firewall service alert UI integration
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/queries/cloudpulse/queries.ts
Labels: CloudPulse-Alerting

#382 Fix:[DI-26189] - Fix filter retention issue
  packages/manager/src/features/CloudPulse/shared/CloudPulseNodeTypeFilter.tsx
Labels: CloudPulse-Dashboards

#387 upcoming: [DI-26201] - Leading zero error message, reapplying schema tests for dimension filter value
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
Labels: CloudPulse-Alerting

#391 upcoming: [DI-26277] - alternative approach
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: CloudPulse-Alerting

#395 upcoming:[DI-26277] - conditionally setting query data
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: CloudPulse-Alerting

#403 [DI-26293] - Enhance alerts contextual view
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: CloudPulse-Alerting
